@import "../../../_styles/animations.scss";
@import "../../../_styles/mixins";
.cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  margin: 2rem;

  &__title {
    @include soft-shadow-title;
    @include rotate-text-animation;
  }

  &__empty {
    color: #c5a253;
    text-align: center;
    font-size: 3rem;
    margin: 7rem;
    @include respond("lg") {
      width: 100%;
      margin: 7rem auto;
    }
  }

  &__total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    margin: 5rem 2rem;
    background-color: white;
    height: 10rem;
    padding: 1rem;
    width: 45%;
    border-radius: 2rem;
    font-size: 2rem;
    @include respond("sm") {
      width: 73%;
      margin: 2rem 4.5rem;
    }
  }
  &__line {
    width: 100%;
    height: 0.2rem;
    background-color: var(--theme-color);
    margin-top: 0.9rem;
    align-self: center;
  }
  &__user-greeting {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-size: 2.5rem;
    color: #6b1f4f;
    text-align: center;
    margin-top: 1.5rem;
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.6);
    letter-spacing: 0.5px;
    @include respond("md") {
      margin-left: 3.7rem;
    }
    @include respond("lg") {
      margin-left: 4rem;
    }
  }
}
