@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "./../../_styles/animations.scss";
@import "../../_styles/mixins";

.product-carousel {
  padding: 2rem 0;
  margin-bottom: 2rem;

  &__title {
    @include respond("sm") {
      font-size: 4.5rem;
    }
    @include soft-shadow-title;
    font-size: 7rem;

    @include rotate-text-animation;
  }

  &__item {
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 0 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 250px;
    z-index: 0;

    @include respond("sm") {
      max-width: 140px;
      padding: 0.75rem;
      margin: 0 0.5rem;
    }

    &:hover {
      transform: translateY(-8px);
      box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
      z-index: 10;
    }

    img {
      width: 100%;
      height: 16rem;
      border-radius: 12px;
      margin-bottom: 1rem;
      padding: 1rem;
      object-fit: contain;

      @include respond("sm") {
        height: 8rem;
        padding: 0.5rem;
      }
    }

    h3 {
      font-size: 1rem;
      color: #333;
      font-weight: 500;
      margin: 0;
      min-height: 3rem;
      text-align: center;
      @include respond("md") {
        font-size: 1.5rem;
        min-height: 7rem;
      }
      @include respond("lg") {
        font-size: 2rem;
        min-height: 15rem;
      }
    }
  }
  :global(.slick-slide > div) {
    display: flex !important;
    justify-content: center;
  }
  :global(.slick-list),
  .product-carousel {
    overflow: visible !important;
  }

  :global(.slick-dots) {
    display: flex;
    justify-content: center;
    bottom: -20px;
    @include respond("sm") {
      bottom: -28px;
    }

    li {
      margin: 0 4px;

      button::before {
        font-size: 12px;
        color: gray;
        opacity: 0.7;
      }

      &.slick-active button::after {
        color: pink;
      }
    }
  }
}
