:root {
  --font-primary: "Poppins", sans-serif;
  --font-brand: "Playfair Display", serif;
  --font-homePage-title: "Playfair Display", Georgia, serif;
  --color-background: linear-gradient(to bottom right, #ffe4ec, #e9d7f5);
  --theme-color: pink;
}

$base-font-size: 100%;
