@import "../../../_styles/mixins";
.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
  height: auto;
  width: 80%;
  margin: 1rem auto;
  border-radius: 1.4rem;
  padding: 1rem;
  font-size: 1.6rem;
  gap: 1.6rem;
  font-family: var(--font-brand);
  background-color: white;

  @include respond("sm") {
    flex-direction: column;
    width: 50%;
    font-size: 1.5rem;
    &__info {
      flex: 1 1 100%;
      max-width: none;
    }
  }

  &__image {
    height: 150px;
    width: 20%;
    object-fit: contain;
    @include respond("sm") {
      width: 50%;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.9rem;
    flex: 1;
  }
  &__title-product {
    font-size: 18px;
    font-weight: 700;
    color: #88344e;
    @include respond("lg") {
      font-size: 2rem;
    }
  }

  &__price {
    font-size: 2rem;
    color: #333;
  }

  &__action-row {
    display: flex;
    align-items: center;
    gap: 10px;
    @include respond('sm'){
      flex-direction: column;
    }
  }
  &__amount-input {
    width: 60px;
    padding: 4px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    @include respond('sm'){
      width: 45px;
    }
  }
  &__remove-button {
    background: #be8389;
    color: white;
    border: 1px solid gray;
    padding: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
  
  }
}
